{% extends 'base.html.twig' %}

{% block body %}
    <h1>Registration on the site</h1>

    {{ form_start(form) }}
    
    {{ form_row(form.username, {'label': 'Username' , 'attr': {'placeholder': ' Username...'}}) }}
    {{ form_row(form.email, {'label': 'Email Adress' , 'attr': {'placeholder': ' Email Adress...'}}) }}
    {{ form_row(form.password, {'label': 'Password' , 'attr': {'placeholder': ' Password...'}}) }}
    {{ form_row(form.confirm_password, {'label': 'Confirm Password' , 'attr': {'placeholder': ' Confirm Password...'}}) }}
    <button type="submit" class="btn btn-success">Register</button>
    {{ form_end(form) }}
{% endblock %}