{% extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>
    {% if editMode %}
        Edit
    {% else %}
        Create new
    {% endif %}
    article
    </h1>
    
    {# Display form to submit new article #}
    {{ form_start(formArticle) }}

    {{ form_row(formArticle.title, {'attr': {'placeholder': "Article title"}}) }}
    {{ form_row(formArticle.content, {'attr': {'placeholder': "Article content"}}) }}
    {{ form_row(formArticle.image, {'attr': {'placeholder': "Article image"}}) }}
    
    <button type="submit" class="btn btn-success">
    {% if editMode %}
        Edit
    {% else %}
        Submit
    {% endif %}
    Article
    </button>

    {{ form_end(formArticle) }}

{% endblock %}
