{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">Written on {{ article.createdAt | date('d/m/Y') }} at {{ article.createdAt | date('H:i') }} in the category Politics</div>
        <div class="content">
            <img src="{{ article.image }}" alt="">
            {{ article.content | raw }}
        </div>
    </article>
{% endblock %}
