{% extends 'base.html.twig' %}

{% block body %}
    {# Display the specified article and its properties values #}
    <article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">Written on {{ article.createdAt | date('d/m/Y') }} at {{ article.createdAt | date('H:i') }}
         in the category {{ article.category.title }}</div>
        <div class="content">
            <img src="{{ article.image }}" alt="">
            {{ article.content | raw }}
            <a href="{{ path('blog_delete', {'id': article.id}) }}" class="btn btn-danger">Delete</a>

        </div>
    </article>

    <section id="commentaires">
        <h1>{{ article.comments | length }} comments : </h1>
        {% for comment in article.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        {{ comment.author }} (<small>{{ comment.createdAt| date('d/m/Y a H:i') }}</small>)
                    </div>
                    <div class="col">
                        {{ comment.content | raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
        
        {{ form_start(commentForm) }}
        {{ form_row(commentForm.author, {'attr': 'placeholder': 'Your name'}) }}
        {{ form_row(commentForm.content, {'attr': 'placeholder': 'Your comment'}) }}
        <button type="submit" class="btn btn-success">Comment</button>
    </section>
{% endblock %}
